<!DOCTYPE html>
<html>

<head>
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="alart.css">
</head>

<body>
    <div class="alart">
        <h2>Thank For Adding New Product</h2>
        <a href="/warehouse">
            <button class="alartButtun" style="color: rgb(16, 95, 173);">
                <h3>Product Add Done</h3>
            </button>
        </a>
    </div>
</body>

</html>